.beer-list {
  border: 1px black solid;
  height: 7em;
  max-width: 30em;
  margin: .5em 1em;
}

.beer-list-avatar {
  float: left;
  text-align: center;
  margin: 1em;
}

.beer-list-avatar img {
  height: 5em;
  width: 5em;
  border: 1px black solid;
  border-radius: 50%;
}

.beer-list-title {
  text-align: center;
}
